# Database Connection
# Format: postgres://user:password@host:port/database
DATABASE_URL="postgres://postgres:postgres@localhost:5432/remotedevjobs"

# Public Site URL (for SEO and Sitemap)
NUXT_PUBLIC_SITE_URL="http://localhost:3000"

# Node Environment
NODE_ENV="development"
